sqlalchemy
psycopg2-binary
pandas
requests
newspaper3k
lxml_html_clean
scikit-learn
gradio
plotly
openai
google-generativeai
numpy
python-dotenv
pyecharts
python-decouple
llama-index
llama-index-llms-openai-like
llama-index-llms-siliconflow
llama-index-embeddings-openai-like
llama-index-postprocessor-xinference-rerank
llama-index-embeddings-siliconflow
llama-index-postprocessor-siliconflow-rerank
